<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-2 text-dark" href="#">Sobre</a>
        <a class="p-2 text-dark" href="#">produtos</a>
        <a class="p-2 text-dark" href="#">Suporte</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>  