<div class="card">
    <div class="card-header">Preços</div>
    
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de">De</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for="ate">Até</label>
                <input type="number" class="form-control">
            </div>
            <button class="mt-2 btn btn-outline-primary">Filtrar</button>
        </form>
    </div>
</div>